{% extends 'base.html.twig' %}


{% block body %}
  {% if app.user %}
        <div class="mb-3">
            BIENVENUE {{ app.user.userIdentifier }}
        </div>
    {% endif %}
<img src="{{ asset('img/manga1.jpg') }}" width='100%' alt="">


{% endblock %}