<nav class="navbar py-3 navbar-expand-lg bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" href="{{ path('app_main') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item fs-4">
          <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link" href="{{ path('membre') }}">Gestion des membres</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link" href="{{ path('app_vehicule') }}">Vehicule</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link" href="">Agences</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link" href="">Formulaire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>